<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>this is login page</p>
<center>
    <form action="" method="post">
{% csrf_token %}
        <p style="text-align:center">user:<input type="text" name="username"></p>

        <p style="text-align:center">password:<input type="text" name="password"></p>
        <p style="text-align:center">
            <input type="submit" value="register">{% url 'il' %}"</p>
        <p style="color: #ff0000;text-alighn:center">{{error_name}}</p>
    </form>
</center>


</body>
</html>